

{% extends 'base.html' %}

{% block body %}
<p><a href="{{ url_for('.add_pokemon')}}"> Add a new pokemon</a></p>
{% if friends %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Type</th>
            </tr>
        </thead>

        <tbody>
            {% for row in friends %}
            <tr>
                <td> {{ row.pokemonID }}</td>
                <td> {{ row.name }}</td>
                <td> {{ row.type }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

	

{% endblock %}
